<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default" ng-controller="ProdCtrl">
			<div class="panel-heading">
				<h3 class="panel-title">Products</h3>
			</div>

			<div class="panel-body">
				<ul class="media-list">
					<li class="media" ng-repeat="product in products track by $index">
						<a class="pull-left" href="#">
							<img class="media-object img-thumbnail" src="http://placehold.it/64x64" alt="thumbnail for {{ product.name }}">
						</a>
						<div class="media-body">
							<h4 class="media-heading">{{ product.name }}</h4>

							<div class="row">
								<div class="col-xs-4">
									<span class="" ng-if="!product.discount"><strong>{{ product.price | currency }}</strong></span>
									<span class="text-muted" ng-if="!!product.discount"><s>{{ product.price | currency }}</s></span>
									<span ng-if="product.discount" class="text-primary"><strong>{{ product.discount | currency}}</strong></span>
								</div>
								<div class="col-xs-4">In stock: {{ product.quant }}</div>
								<div class="col-xs-4">
									<button class="btn btn-xs"
											ng-class="{'btn-primary': product.quant>0, 'btn-danger': product.quant===0}"
											ng-disabled="!product.quant"
											ng-click="addProduct(product)">
										<span ng-if="!!product.quant">Add to cart</span>
										<span ng-if="!product.quant">Out of stock</span>
									</button>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default" ng-controller="CartCtrl">
			<div class="panel-heading">
				<h3 class="panel-title">Your cart</h3>
				<span>{{ cart | sum | currency }}</span>
			</div>

			<ul class="list-group">
				<li class="list-group-item" ng-repeat="product in cart track by $index">
					<div class="row">
						<div class="col-xs-6">{{ product.name }}</div>
						<div class="col-xs-2">{{ product.price | currency}}</div>
						<div class="col-xs-2">{{ product.quant }}pcs</div>
						<div class="col-xs-2">
							<button class="btn btn-default btn-xs" ng-click="removeFromCart(product._id)">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</div>
					</div>
				</li>
			</ul>


			<div class="panel-body">
				<form role="form" ng-submit="voucher()">
					<div class="form-group">
						<label for="voucher-input">Enter voucher code:</label>
						<input id="voucher-input" class="form-control" type="text" ng-model="voucherCode"/>
					</div>
					<button class="btn btn-default pull-right">Use voucher</button>
				</form>
			</div>


		</div>
	</div>
</div>